<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/prith/IdeaProjects/Swag Labs Automation">
        <classes>
            <class name="Swag_Lab_Automation.SwagLabAutomation">
                <methods >
                    <include name="demo"/>
                    <include name="addItems" />
<!--                    <include name="removeItem"/>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>